@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

/* body{
    background-color: #ccceff;
} */



input {
    border: none;
    background-color: none;
    outline: 0;
    font-size: 25px;
  }
  
  input:focus {
    border: none;
    background-color: none;
    outline: 0;
  }

  
input[type=date] {
    border: none;
    background-color: none;
    outline: 0;
    font-size: 21px;
  }
  
  input[type=date]:focus {
    border: none;
    background-color: none;
    outline: 0;
  }